.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}



.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.logo {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  border: 2px solid #ddd; /* Light gray border */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Add pointer cursor for clickable items */
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.logo:hover {
  border-color: #555; /* Dark gray border on hover */
}

form {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

#greet-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}


